<h3>THANK YOU FOR SIGNING UP</h3>
<p>This app was built by </p><table class='col-md-4 col-md-offset-4'><tr>
<td id='julia'><a href="https://github.com/juliataitz"></a></td>
<td><!-- <img src='https://avatars1.githubusercontent.com/u/4854153?s=460'> --></td>
<td><p>and</p></td>
<!-- <p>and </p> -->
<td id='michael'><a href='https://github.com/mmlkrx/'></a></td>
<!-- <img src='https://avatars2.githubusercontent.com/u/5080687?s=400'> -->
</tr></table>
<p>at the <a href="http://flatironschool.com/">Flatiron School</p>
<footer><p>&copy;<a href="https://github.com/juliataitz">Julia Taitz </a>and<a href="https://github.com/mmlkrx/"> Matthias Loker</p>
</footer>

