<h3>THANK YOU FOR SIGNING UP</h3>
<p>This app was built by </p><table class='col-md-4 col-md-offset-4'><tr><td><img src='https://avatars1.githubusercontent.com/u/4854153?s=460'></td><td><p>and </p></td><td><img src='https://avatars2.githubusercontent.com/u/5080687?s=400'></td></tr></table><p>at the Flatiron School.</p>