<div id="what">
<h3>Thank you for signing up, you will receive your first status shortly...</h3><br><br>
<p>This app was built by </p>
<div class="row">
<table class='col-lg-4 col-lg-offset-6'><tr>
<td id='julia'><a href="https://github.com/juliataitz"></a></td>
<td><!-- <img src='https://avatars1.githubusercontent.com/u/4854153?s=460'> --></td>
<td><p>and</p></td>
<td id='michael'><a href='https://github.com/mmlkrx/'></a></td>
<!-- <img src='https://avatars2.githubusercontent.com/u/5080687?s=400'> -->
</tr></table>
</div>
<p>at the <a href="http://flatironschool.com/">Flatiron School</p>
</div>
<footer><p>&copy;<a href="https://github.com/juliataitz">Julia Taitz </a>and<a href="https://github.com/mmlkrx/"> Matthias Loker</p>
</footer>

