#julia{
  width: 200px;
  height: 200px;
  background-image: url('https://avatars1.githubusercontent.com/u/4854153?s=460');
  background-size: cover;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  text-align:center;
  margin-top:0px;
  margin-left:380px;
  margin-bottom:10px;
  margin-right: 10px;
  border:2px solid white;
}

#michael{
  width: 200px;
  height: 200px;
  background-image: url('https://avatars2.githubusercontent.com/u/5080687?s=400');
  background-size: cover;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  margin-bottom:10px;
  margin-left:  10px;
  border:2px solid white;
}

footer{
  margin-top:20px;
}

body{
  background-image: url('http://wallpaperpanda.com/wallpapers/5cG/9aM/5cG9aMgRi.jpg');
}


#user-widget {
  margin-top:6em;
}

h1 {
  color:#ffe640;
  font-size:8em;
  margin-top:2em;
  text-shadow: 0 2px 1px #ffffff; 
}

h2 {
  color:#ffe640;
  font-size:4em;
  margin-top:2em;
  margin-bottom:2em;
  text-shadow: 0 1px 1px #ffffff; 
}

h3 {
  color:#ffe640;
}

#signup {
  margin-top: 14em;
}

#what {
  margin-top: 150px;
}

footer {
  bottom: 2px;
}

#register-form {
  color:white;
}

















>>>>>>> d14ce89f8faeca6c30041ac96934b7ea636d4c91

}

